.mat-column-delete
    flex: 0 0 50px
.mat-column-preview
    flex: 0 0 100px
.fill-space
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
.preview
    display: inline-flex