.mat-column-delete
    flex: 0 0 50px
.mat-column-thumb
    flex: 0 1 165px
.fill-space
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
.preview
    // display: table-cell;
.header-element
    margin-bottom: 1.25em;
.table-header
    display: flex;
    padding: 10px 25px 0px 25px;
