mat-sidenav-container
    mat-sidenav-content(position='start' mode='side' disableClose opened='true')
        | Use the panels on the right to upload new images, or find the perfect image to replace all that clunky written language stuff.