mat-expansion-panel
    mat-expansion-panel-header
        mat-panel-title Upload remote image
        | Add an image from the web to your library
    mat-horizontal-stepper
        mat-step(label='Enter image location')
            ng-template(matStepLabel) Enter the full URL of the image to upload
            mat-form-field #[input(matInput, placeholder='Image URL', type='text', [(ngModel)]='url') ]
            mat-form-field
                input(matInput, placeholder='Image Name', type='text', [(ngModel)]='name')
                mat-hint(align='end', matTooltip="Names don't even have to be unique! If there are multiple images for a single name, you'll get a random one every time.") This can be anything you like
            button(mat-button, matStepperNext, type='button') Next
        mat-step(label='Upload')
            button(*ngIf='url && name && !response && !isLoading', mat-button, (click)='upload()') Upload
            mat-spinner(*ngIf="isLoading")
            p(*ngIf='response') Upload complete!
            button(*ngIf='response', mat-button, matStepperNext, type='button') Next
        mat-step(label='Share')
            mat-card
                mat-card-header
                    img(*ngIf='response', mat-card-avatar, [src]='imageSrc')
                    mat-card-title Your new image is ready!
                mat-card-content
                    p You can now share your wonderful Internet-sourced goodness!
                    p Your image can be reached at #[a([href]='imageSrc') {{imageSrc}}] or #[a([href]='imageName') {{imageName}}]
                    .link-details
                        p Your full (surprise) link is:
                        mat-form-field #[input(matInput, type='text',[value]='fullImageLink', readonly, onclick="select()")]
                        p Use it wisely!
                mat-card-actions
                    a(mat-button, color="primary", [href]='imageSrc', target='_blank') VIEW IMAGE
                    a(mat-button, (click)="reset()") Reset