mat-expansion-panel
    mat-expansion-panel-header
        mat-panel-title List uploaded images
        | Get the links for any of the images you've uploaded
    .table-container.mat-elevation-z8
        .table-header
            mat-form-field
                input(matInput name='filter' #filter placeholder='Filter images')
            a.header-element(mat-button, (click)='updateFilter(filter.value)') Filter
            a.header-element(mat-button, matTooltip='Refresh', matTooltipPosition='after', (click)='updateFilter("")') Clear
            span.fill-space
            span.preview.header-element
                span(matTooltip='Optionally add preview thumbnails to the image list', matTooltipPosition='before' matTooltipShowDelay='1000') Previews
                mat-slider.preview(min='0', max='150', step='15', [(ngModel)]='previewSize', matTooltip='Set to 0 to disable', (change)="onSizeChanged($event)")
        //- mat-table(#table [dataSource]='dataSource' matSort #sortForDataSource="matSort")
        mat-table(#table [dataSource]='dataSource' matSort)
            ng-container(matColumnDef='thumb')
                mat-header-cell(*matHeaderCellDef) Preview
                mat-cell(*matCellDef="let row")
                    image-preview([path]='row.id', [size]='previewSize')
            ng-container(matColumnDef='id')
                mat-header-cell(*matHeaderCellDef mat-sort-header) ID
                mat-cell(*matCellDef="let row")
                    //- | {{row.id}}
                    image-link([text]='row.id')
            ng-container(matColumnDef='name')
                mat-header-cell(*matHeaderCellDef mat-sort-header) Name
                mat-cell(*matCellDef="let row")
                    //- | {{row.name}}
                    image-link([text]='row.name')
            ng-container(matColumnDef='location')
                mat-header-cell(*matHeaderCellDef mat-sort-header) Location
                mat-cell(*matCellDef="let row") {{row.location}}
            ng-container(matColumnDef='delete')
                mat-header-cell(*matHeaderCellDef) Delete
                mat-cell(*matCellDef="let row")
                    button(mat-button, (click)='delete(row.id)') #[mat-icon delete]
            mat-header-row(*matHeaderRowDef="getColumns()")
            mat-row(*matRowDef="let row; columns: getColumns();")
        mat-paginator(
            #paginator,
            [pageIndex]="0",
            [pageSize]="5",
            [pageSizeOptions]="[5, 10, 25, 100]")